<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 Bad Request</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
</head>
<body>

<% include statsabove %>

<div id="layout">

    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <% include menu %>

    <div id="main">


        <div id='content'>
            <div id="statements">

                <h1>400 Bad Request</h1>
                <p>Sorry, but you asked something in a way that this very young machine could not understand yet...</p>
                <p>If you think that it's the machine's fault, please, describe your actions leading to this disaster in <a href="https://github.com/noduslabs/infranodus/issues" target="_blank">GitHub issues</a> and we'll look into it.<br>
                    And after you've done that, feel free to <a href="/">continue browsing</a> or just <a href="javascript:history.back()">go back a page</a>...</p>
                <p style="color:red"><% include messages %></p>
            </div>
        </div>

    </div>

</div>
<script src="/javascripts/ui.js"></script>

<% include statsbelow %>

</body>
</html>