<!DOCTYPE html>
<html>
<head>
    <title><%= status %> <%= msg %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>
<div id='content'>


<h1><%= status %> Error</h1>
<p><%= msg %></p>
<p>
    Try refreshing the page, if this problem
    persists, please, <a href="https://github.com/noduslabs/infranodus/issues" target="_blank">post it on GitHub</a>
    describing the actions you took, so we can fix it!
</p>
</div>
</body>
</html>
