<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
</head>
<body>

<% include statsabove %>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <% include menu %>

    <div id="main">

        <div id='content'>
            <div id="statements">

                <h1><%= status %> Error</h1>
                <p><%= msg %></p>
                <p>
                    Try refreshing the page or <a href="javascript:history.back()">click here to go back</a>. If this problem
                    persists, please, <a href="https://github.com/noduslabs/infranodus/issues" target="_blank">post it on GitHub</a>
                    describing the actions you took, so we can fix it!
                </p>

            </div>
        </div>

    </div>

</div>

<script src="/javascripts/ui.js"></script>

<% include statsbelow %>

</body>
</html>
