<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>

<% entries.forEach(function(entry) { %>
<div class='entry'>
    <h3>ID: <%= entry._id %></h3>
    <p>FROM: <%= entry._start %>, TO: <%= entry._end %></p>
</div>
<% }) %>
</body>
</html>