<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>

<% entries.forEach(function(entry) { %>
<div class='entry'>
    <h3><%= entry.name %></h3>
    <p><%= entry.text %></p>
    <p>UID: <%= entry.uid %></p>
    <br>
</div>
<% }) %>
</body>
</html>