<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>

<% entries.forEach(function(entry) { %>
<div class='entry'>
    <h3><%= entry.id %></h3>
    <p><%= entry.start_node_id %></p>
</div>
<% }) %>
</body>
</html>