<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.textcomplete.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />



</head>
<body>
<% include statsabove %>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <% include menu %>




    <div id='content'>

        <div id='statements'>


            <form action='/import' name='submitform' id="submitform" method='post' enctype="multipart/form-data" class='pure-form pure-form-stacked'>

                <input type='text' size="14" maxlength="50" name='search' id="search" class="pure-input" placeholder='search terms' value="<% if (fornode) { %><%= fornode %><% } %>" /> &nbsp;&nbsp; <input class="pure-button" type='submit' name="btnSubmit" value=">" class="pure-button pure-button-primary">

                <br>&nbsp;<br>
                Type in your search query, and we will show you which words are the most related to your query, so you can continue your search in a more informed way.

                <br>&nbsp;<br>

                <label for="extractfilter" class="pure-checkbox">
                    <input id="extractfilter" type="checkbox" name="excludesearchquery" value="1" checked> exclude search terms from the graph<br>
                </label>

                <label for="savegraph" class="pure-input">
                    saving in <input style="display:inline;" id="savegraph" type='text' size="10" maxlength="15" name='context' value='<% if (context) { %><%= context %><% } else { %>google<% } %>'/> list
                </label>


                <input type="hidden" name="source" value="googlesearch">
                <input type='hidden' name='limit' value='20' />
                <input type="hidden" name="settings" value="morphemes">
                <input type="hidden" id="hide_always" name="hide_always" value="1">
                <input type="hidden" id="go_next_add" name="go_next_add" value="">
                <input type="hidden" id="selectedContexts" name="selectedContexts" value="">
                <input type="hidden" name="statementid" value="">







            </form>   &nbsp;<br>&nbsp;<br>





        </div>

        <div id="graph-container"></div>


    </div>




</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/string.min.js"></script>
<script src="/javascripts/underscore-min.js"></script>
<script src="/javascripts/jquery.textcomplete.js"></script>
<script src='/javascripts/jquery.autosize.js'></script>
<script src="/javascripts/ui.js"></script>
<script src="/javascripts/jquery.mobile-events.min.js"></script>


<script>
    ;(function(){

        var cleared_to_submit = 0;

        $('form#submitform').submit(function(event){

            if(cleared_to_submit){
                cleared_to_submit = 0;
                return;

            }else{

                event.preventDefault();

                $(this).find('input[type=submit]').attr('disabled', 'disabled');

                if ($("#extractfilter").prop("checked")) {
                    var current_query = $("#search").val();
                    $("#go_next_add").val(current_query);
                }

                cleared_to_submit = 1;

                $('form')[0].submit();  //resubmit form

            }

        });


    })();
</script>




<% include statsbelow %>
</body>
</html>