<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.textcomplete.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />



</head>
<body>
<% include statsabove %>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <% include menu %>




    <div id='content'>

        <div id='statements'>

            Enter the type of data you want to import:
            <% include messages %>

            <form action='/import' name='submitform' id="submitform" method='post' class='pure-form pure-form-stacked'>
                <br>
                Data source:
                <% if (!evernote) { %>
                <label for="source1" class="pure-radio">
                    <input id="source1" type="radio" name="source" value="twitter" checked>
                    Twitter
                </label>
                <label for="source2" class="pure-radio">
                <input id="source2" type="radio" name="source" value="evernote">
                    Evernote (<a href="/evernote_oauth">authorize</a>)
                </label>
                <label for="source3" class="pure-radio">
                    <input id="source3" type="radio" name="source" value="email">
                    iPhone / Gmail notes
                </label>
                <div id="inputplace"></div>

                <br>

                Extract:
                <label for="extract1" class="pure-radio">
                    <input id="extract1" type="radio" name="extract" value="user" checked>
                    graph of words used by a user
                </label>

                <label for="extract2" class="pure-radio">
                    <input id="extract2" type="radio" name="extract" value="hashtag">
                    graph of words used with a hashtag
                </label>

                <label for="extract3" class="pure-radio">
                    <input id="extract3" type="radio" name="extract" value="timeline">
                    graph of words in user's timeline
                </label>
                <br>

                Account or Hashtag:
                <input type='text' name='search' id="search" placeholder='@username or #hashtag' />
                <div id="searchbox" style="display: none">
                    <input type="text" name="email" id="searchbox1" value="your@email.com" />
                    <input type="password" name="password" id="searchbox2" value="password" />
                    <input type="text" name="host" id="searchbox3" value="imap.gmail.com" />
                    <input type="text" name="tls" id="searchbox4" value="true" />
                    <input type="text" name="port" id="searchbox5" value="993" />
                    <br>Your e-mail and password are not saved, <br>only sent to the server.  <br>
                </div>
                <br>

                <% } else { %>
                <label for="source2" class="pure-radio">
                    <input id="source2" type="radio" name="source" value="evernote" checked>
                    Evernote (<a href="/evernote_clear">deauthorize</a>)
                </label>
                <label for="source1" class="pure-radio">
                    <input id="source1" type="radio" name="source" value="twitter" disabled>
                    Twitter
                </label>
                <br>

                Extract:
                <label for="extract1" class="pure-radio">
                    <input id="extract1" type="radio" name="extract" value="user" checked>
                    graph of words used in all the entries
                </label>
                <br>

                Evernote Account:
                <input type='text' name='search' value="<%= evernote %>" readonly/>
                <br>

                <% } %>




                Save In List:
                <input type='text' name='context' value='imported'/>
                <br>

                How Many Recent Posts:
                <input type='text' name='limit' value='100 ' />
                <br>

                Settings:
                <label for="settings1" class="pure-radio">
                    <input id="settings1" type="radio" name="settings" value="morphemes" checked>
                    Process both hashtags and words
                </label>

                <label for="settings2" class="pure-radio">
                    <input id="settings2" type="radio" name="settings" value="hashtags">
                    Process only hashtags
                </label>
                <br>

                <input type="hidden" id="selectedContexts" name="selectedContexts" value="">
                <input type="hidden" name="statementid" value="">
                &nbsp;<br>
                <input type='submit' name="submit" value="save" class="pure-button pure-button-primary">

            </form>   &nbsp;<br>&nbsp;<br>





        </div>

        <div id="graph-container"></div>

        <div id="graph-tools"><a href="javascript:" id="zoom-in"><img src="/images/zoom-in.png" border="0"></a>&nbsp;&nbsp;&nbsp;<a href="javascript:" id="zoom-out"><img src="/images/zoom-out.png" border="0"></a></div>

    </div>




</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/string.min.js"></script>
<script src="/javascripts/underscore-min.js"></script>
<script src="/javascripts/jquery.textcomplete.js"></script>
<script src='/javascripts/jquery.autosize.js'></script>
<script src="/javascripts/ui.js"></script>
<script src="/javascripts/jquery.mobile-events.min.js"></script>


<script>
    ;(function(){


            // toggle email login controls on and off with radio

            var radioButtons = $("[name=source]"), // get both radiobuttons
                searchbox  = $("#searchbox");

            radioButtons.change(function () {
                if( $(this).val() === "email" ) { // this time, we do need to check the value
                    searchbox.show();
                    $("#search").hide();
                }
                else if ($(this).val() === "evernote") {
                    window.location.href = "/evernote_oauth";
                }
                else
                {
                    searchbox.hide();
                    $("#search").show();
                }
            });



    })();
</script>

<% include statsbelow %>
</body>
</html>