<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>
<div id="content">
<p>We need to know who you are to show you what you need!</p>

<% include messages %>

<form action='/login' method='post'>
    <p>
        <input type='text' name='user[name]' placeholder='Username' />
    </p>
    <p>
        <input type='password' name='user[pass]' placeholder='Password' />
    </p>
    <p>
        <input type='submit' value='Login' />
    </p>
</form>
</div>
</body>
</html>