<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>
<div id="content">
<p>Please, log in or <a href="/register">register</a> if you don't have an account yet:</p>

<% include messages %>

<form action='/login' method='post' class="pure-form pure-form-stacked">
        <p>
        <input type='text' name='user[name]' placeholder='Username' />
        </p>
        <p>
        <input type='password' name='user[pass]' placeholder='Password' />
        </p>
        <p>
        <button type='submit' class="pure-button pure-button-primary">Login</button>
        </p>
</form>
</div>
</body>
</html>