<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <script src="/javascripts/jquery.min.js"></script>


</head>
<body>

<% include statsabove %>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

   <!-- <a href="javascript:" id="graph-link">
        &lt;!&ndash; Graph icon &ndash;&gt;
        <span></span>
    </a>-->

    <% include menu %>



    <div id="content">

        <div id="introduction">
            <h1>InfraNodus: Your Knowledge Universe</h1>
            <h2>Create constellations from ideas, notes and any excerpts of information: <br>see how it all connects to make sense and discover new things.</h2>
            <iframe src="https://player.vimeo.com/video/124587426?autoplay=0&loop=1&title=0&byline=0&portrait=0" width="240" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            <div class="row">
                <div class="graphshowcase">
                    <div class="intro"><a href="/login">+ add yours</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/login"><img src="/images/sample-graph-add.png" border="0" width="220" height="220"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"><a href="/infragraph/hitech?hide_when_small=1">hitech companies</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/infragraph/hitech?hide_when_small=1"><img src="/images/sample-graph-infragraph-hitech.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/travel/berlin?hide_when_small=1">best places in berlin</a>       </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/travel/berlin?hide_when_small=1"><img src="/images/sample-graph-travel-berlin.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/admin/research?hide_when_small=1">research notes</a>   </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/admin/research?hide_when_small=1"><img src="/images/sample-graph-admin-research.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/amazon/deepSurvival?hide_when_small=1">kindle book highlights</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/amazon/deepSurvival?hide_when_small=1"><img src="/images/sample-graph-amazon-deepSurvival.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/evernote/polysingularity?hide_when_small=1">public evernote notes</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/evernote/polysingularity?hide_when_small=1"><img src="/images/sample-graph-evernote-polysingularity.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/evernote/polysingularity?hide_always=1&go_next_url=http://polysingularity.com/?s=">excerpts from a website</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/evernote/polysingularity?hide_always=1&go_next_url=http://polysingularity.com/?s="><img src="/images/sample-graph-evernote-polysingularity.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/musicgraph/labels?go_next_site=soundcloud&link_hashtags=1&hide_always=1&go_next_override=1">electronic music labels</a>   </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/musicgraph/labels?go_next_site=soundcloud&link_hashtags=1&hide_always=1&go_next_override=1"><img src="/images/sample-graph-musicgraph-labels.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/waytorussia/writers?go_next_site=wikipedia&hide_always=1&link_hashtags=1&go_next_override=1">russian writers</a> </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/waytorussia/writers?go_next_site=wikipedia&hide_always=1&link_hashtags=1&go_next_override=1"><img src="/images/sample-graph-waytorussia-writers.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/twittergraph/datavizgraph?go_next_site=twitter&hide_when_small=1">tweets with #dataviz</a>    </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/twittergraph/datavizgraph?go_next_site=twitter&hide_when_small=1"><img src="/images/sample-graph-twittergraph-datavizgraph.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/infragraph/philosophy?go_next_site=wikipedia&hide_always=1&link_hashtags=1&go_next_override=1">philosophers</a>    </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/infragraph/philosophy?go_next_site=wikipedia&hide_always=1&link_hashtags=1&go_next_override=1"><img src="/images/sample-graph-infragraph-philosophy.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/tarot?hide_when_small=1">tarot cards connections</a>   </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/tarot?hide_when_small=1"><img src="/images/sample-graph-tarot.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="http://noduslabs.com/network-graphs/" target="_blank">see more graphs</a>   </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="http://noduslabs.com/network-graphs/"><img src="/images/sample-graph-question.png" border="0"></a></div>
                </div>
            </div>
            <br>&nbsp;<br>
            <h2>Find out how InfraNodus can be useful for <a href="http://noduslabs.com/infranodus/" target="_blank">research</a> and generating the <a href="http://noduslabs.com/infranodus/" target="_blank">new ideas</a>. <br>Also, check out some <a href="http://noduslabs.com/tag/infranodus" target="_blank">case studies</a>.</h2>
            <br>
           <h2>Save interesting excerpts from online texts and see how they all connect:</h2>
            <p>Drag this bookmarklet into your browser's toolbar: <a style="cursor: move;" href="javascript:var a=window,b=document,c=encodeURIComponent,s='';s=document.getSelection().toString();if(s!=''){d=a.open('https://infranodus.com/bookmarks/edit?url='+c(b.location)+'&urltitle='+c(s),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=420px,width=550px,resizable=1,alwaysRaised=1');}else{d=a.open('https://infranodus.com/bookmarks/edit?url='+c(b.location)+'&urltitle='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=420px,width=550px,resizable=1,alwaysRaised=1');}a.setTimeout(function(){d.focus()},300);">GraphMark</a>

            <br>


             <br>
            <div id="footer">
                <h2>Contact us to learn more:</h2>
                <p>InfraNodus is a free open-source cognitive reconfiguration tool made by <a href="http://www.noduslabs.com" target="_blank">Nodus Labs</a>.
                    <br>Contact us (@noduslabs) to get an <a href="http://noduslabs.com/features/invite/" target="_blank">invitation code</a> to use this online version or install it on your computer from <a href="http://github.com/noduslabs/infranodus" target="_blank">GitHub</a>.<br>
                    <br>InfraNodus runs on <a href="http://www.neo4j.org" target="_blank" rel="nofollow">Neo4J</a> graph database,
                    <br><a href="http://www.sigmajs.org" target="_blank" rel="nofollow">Sigma.Js</a> graph visualization library,
                    <br>Node.Js and uses
                    <br><a href="http://www.textexture.com" target="_blank">Textexture text network analysis algorithm</a>. </p>

            </div>
            <br>&nbsp;<br><br>

        </div>
    </div>



</div>



<script src="/javascripts/ui.js"></script>
<script src="/javascripts/socket.io.js"></script>

<script language="javascript">

    // Initialize Socket.IO
    var socket = io();

    function toggleios() {
        var ele = document.getElementById("ioshelp");
        var text = document.getElementById("displayios");
        if(ele.style.display == "block") {
            ele.style.display = "none";
            text.innerHTML = "iPad/iPhone";
        }
        else {
            ele.style.display = "block";
            text.innerHTML = "hide iPad/iPhone";
        }
    }
</script>



<% include statsbelow %>

</body>
</html>