<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <script src="/javascripts/jquery.min.js"></script>


</head>
<body>

<% include statsabove %>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <a href="javascript:" id="graph-link">
        <!-- Graph icon -->
        <span></span>
    </a>

    <% include menu %>



    <div id="content">

        <div id="introduction">
            <h1>Retain and share your knowledge as a network.</h1>
            <h2>Visualize your texts, notes, and thoughts as a graph to have a better overview of ideas and to find inspiration.</h2>
            <div class="row">
                <div class="graphshowcase">
                    <div class="intro"><a href="/login">+ add yours</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/login"><img src="/images/sample-graph-add.png" border="0" width="220" height="220"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"><a href="/infragraph/hitech">hitech companies</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/infragraph/hitech"><img src="/images/sample-graph-infragraph-hitech.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/travel/berlin">best places in berlin</a>       </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/travel/berlin"><img src="/images/sample-graph-travel-berlin.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/admin/research">research notes</a>   </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/admin/research"><img src="/images/sample-graph-admin-research.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/amazon/deepSurvival">kindle book highlights</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/amazon/deepSurvival"><img src="/images/sample-graph-amazon-deepSurvival.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/evernote/polysingularity">public evernote notes</a></div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/evernote/polysingularity"><img src="/images/sample-graph-evernote-polysingularity.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/musicgraph/labels">electronic music labels</a>   </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/musicgraph/labels"><img src="/images/sample-graph-musicgraph-labels.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/waytorussia/writers">russian writers</a> </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/waytorussia/writers"><img src="/images/sample-graph-waytorussia-writers.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/twittergraph/datavizgraph">tweets with #dataviz</a>    </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/twittergraph/datavizgraph"><img src="/images/sample-graph-twittergraph-datavizgraph.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/infragraph/philosophy">philosophers</a>    </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/infragraph/philosophy"><img src="/images/sample-graph-infragraph-philosophy.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="/tarot">tarot cards connections</a>   </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/tarot"><img src="/images/sample-graph-tarot.png" border="0"></a></div>
                </div>
                <div class="graphshowcase">
                    <div class="intro"> <a href="http://noduslabs.com/tag/infranodus" target="_blank">learn about use cases</a>   </div>
                    <div class="graphwindow"><span class="Centerer"></span><a href="/tarot"><img src="/images/sample-graph-question.png" border="0"></a></div>
                </div>
            </div>
            <br>
            <h2>Learn how <a href="http://noduslabs.com/tag/infranodus" target="_blank">network graphs</a> can be used for research and to generate new ideas. <br><br>Also, watch the demo video to learn how to use InfraNodus:</h2>
            <iframe src="//player.vimeo.com/video/89807920?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=1" width="240" height="150" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <br>&nbsp;<br>
            <p>Use InfraNodus to save interesting excerpts from online texts. <br>
                Drag this bookmarklet into your browser's toolbar: <a style="cursor: move;" href="javascript:var a=window,b=document,c=encodeURIComponent,s='';s=document.getSelection().toString();if(s!=''){d=a.open('http://infranodus.com/bookmarks/edit?url='+c(b.location)+'&urltitle='+c(s),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=420px,width=550px,resizable=1,alwaysRaised=1');}else{d=a.open('http://infranodus.com/bookmarks/edit?url='+c(b.location)+'&urltitle='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=420px,width=550px,resizable=1,alwaysRaised=1');}a.setTimeout(function(){d.focus()},300);">GraphMark</a>
                <br><a href="javascript:toggleios();" id="displayios">iPad/iPhone</a> instructions
                <br>
            <div id="ioshelp" style="display: none; max-width: 500px; font: 12px !important;">&nbsp;<br>
                <ol>
                    <li>Open this page from your iPad or iPhone.</li>
                    <li>Click the action button (Square with Arrow on it) on your iPad / iPhone and choose "Add Bookmark".</li>
                    <li>Edit the Title of the bookmark to say "InfraNodus" (or whatever you like).</li>
                    <li>Save the bookmark</li>
                    <li>Copy the code below. (Hold your finger down on it until the copy paste handles pop up, then select it all and copy it).

                        <div style="min-width:240px; max-width: 600px; overflow:auto"><pre>javascript:var a=window,b=document,c=encodeURIComponent,s='';s=document.getSelection().toString();if(s!=''){d=a.open('http://infranodus.com/bookmarks/edit?url='+c(b.location)+'&urltitle='+c(s),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=420px,width=550px,resizable=1,alwaysRaised=1');}else{d=a.open('http://infranodus.com/bookmarks/edit?url='+c(b.location)+'&urltitle='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=420px,width=550px,resizable=1,alwaysRaised=1');}a.setTimeout(function(){d.focus()},300);</pre></div>

                    </li>
                    <li>Open your bookmarks (tap the book symbol).</li>
                    <li>Edit your bookmarks (tap the edit button).</li>
                    <li>Choose the "InfraNodus" bookmark you just created.</li>
                    <li>Tap on the URL and delete it.</li>
                    <li>Paste the code you copied in the earlier step (tap and hold your finger in the empty field until the Paste option appears).</li>
                    <li>Return to the bookmarks, tap "Done" and you're finished.</li>
                    <li>To use it, when you're on the page or youtube video you'd like to visualize as a network, open the Bookmarks folder (tap the book symbol) and tap the "Textexture" bookmark. You'll be able to edit any notes and save the link straight into Delicious.</li>
                </ol>
            </div>

            <br>&nbsp;<br>

            <div id="footer">
                <p>InfraNodus is a free open-source cognitive reconfiguration tool made by <a href="http://www.noduslabs.com" target="_blank">Nodus Labs</a>.
                    <br>Contact us (@noduslabs) to get an <a href="http://noduslabs.com/contact/" target="_blank">invitation code</a> to use this online version or install it on your computer from <a href="http://github.com/noduslabs/infranodus" target="_blank">GitHub</a>.<br>
                    <br>InfraNodus runs on <a href="http://www.neo4j.org" target="_blank">Neo4J</a> graph database,
                    <br><a href="http://www.sigmajs.org" target="_blank">Sigma.Js</a> graph visualization library,
                    <br>Node.Js and uses
                    <br><a href="http://www.textexture.com" target="_blank">Textexture text network analysis algorithm</a>. </p>

            </div>
            <br>&nbsp;<br><br>

        </div>
    </div>



</div>



<script src="/javascripts/ui.js"></script>

<script language="javascript">
    function toggleios() {
        var ele = document.getElementById("ioshelp");
        var text = document.getElementById("displayios");
        if(ele.style.display == "block") {
            ele.style.display = "none";
            text.innerHTML = "iPad/iPhone";
        }
        else {
            ele.style.display = "block";
            text.innerHTML = "hide iPad/iPhone";
        }
    }
</script>

<% include statsbelow %>

</body>
</html>