<div id="menu">
    <div class="pure-menu pure-menu-open">

        <% if (locals.user) { %>
        <a class="pure-menu-heading" href="/"><%= user.name %></a>
        <ul>
            <li class="menu-item-divided"><a href="/">all lists</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
        <% } else { %>
        <a class="pure-menu-heading" href="/">infranodus</a>
        <ul>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
            <li>&nbsp;</li>
            <li><a href="http://noduslabs.com/cases/infranodus-the-network-thinking-app/" target="_blank">demo</a></li>
        </ul>
        <% } %>

    </div>
</div>