<% if (locals.user) { %>
<div id='menu'>
    <a href='/'>infranodus</a>&nbsp;&nbsp;&nbsp;
    <span class='name'><%= user.name %></span>
    <a href='/logout'>logout</a>
</div>
<% } else { %>
<div id='menu'>
    <a href='/'>infranodus</a>&nbsp;&nbsp;&nbsp;
    <a href='/login'>login</a>
    <a href='/register'>register</a>
</div>
<% } %>
