<div id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">infranodus</a>
        <% if (locals.user) { %>
        <ul>
            <li class="menu-item-divided pure-menu-selected"><a href="/"><%= user.name %></a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
        <% } else { %>
        <ul>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
        </ul>
        <% } %>

    </div>
</div>