<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>
<div id="content">
<p>Please, create your own private space here:</p>

<% include messages %>

<form action='/register' method='post' class="pure-form pure-form-stacked">
    <p>
        <input type='text' name='user[name]' placeholder='Username' />
    </p>
    <p>
        <input type='password' name='user[pass]' placeholder='Password' />
    </p>
    <p>
        <button type='submit' class="pure-button pure-button-primary">Sign Up</button>
    </p>
</form>
</div>
</body>
</html>
