<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>
<h1><%= title %></h1>
<p>An example of Sigma.Js</p>

<div id="graph-container"></div>
<script src="/javascripts/sigma/sigma.min.js"></script>
<script src="/javascripts/sigma/plugins/sigma.parsers.json.min.js"></script>
<script src="/javascripts/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>

<script>
    var g = {
                nodes: [],
                edges: []
            };

    s = new sigma({
        graph: g,
        container: 'graph-container',
        renderer: {
            container: document.getElementById('graph-container'),
            type: 'canvas'
        },
        settings: {
            minNodeSize: 8,
            maxNodeSize: 16
        }
    });


    sigma.parsers.json(
            '/javascripts/sigma/data/short.json',
            s,
            function() {
                s.startForceAtlas2();
            }
    );






</script>


</body>
</html>