<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">

</head>
<body>

<% include statsabove %>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <% include menu %>

    <div id="main">


        <div id="content">
            <div id="statements">


                <% include messages %>

                <form action='/settings' method='post' class="pure-form pure-form-stacked">

                    <legend>settings for user <i><%= user.name %></i></legend>
                    <br>
                    Words connect into graph, when they are
                    <label for="wordscan-edit-1" class="pure-radio">
                        <input id="wordscan-edit-1" type="radio" name="fullscan" value="0" <% if (user.fullscan=='0') { %> checked <% } %>>
                        next to each other
                    </label>

                    <label for="wordscan-edit-2" class="pure-radio">
                        <input id="wordscan-edit-2" type="radio" name="fullscan" value="1" <% if (user.fullscan=='1') { %> checked <% } %>>
                        near each other
                    </label>
                    <br>

                    Graph view shows only
                    <label for="wordscan-view1" class="pure-radio">
                        <input id="wordscan-view1" type="radio" name="fullview" value="0" <% if (user.fullview=='0') { %> checked <% } %>>
                        "next to" connections
                    </label>

                    <label for="wordscan-view2" class="pure-radio">
                        <input id="wordscan-view2" type="radio" name="fullview" value="1" <% if (user.fullview=='1') { %> checked <% } %>>
                        "near" connections
                    </label>
                    <br>

                    Graph shows only
                    <label for="graph-view" class="pure-radio">
                        <input type="text" id="graph-view" size="4" maxlength="4" class="pure-input" name="maxnodes" placeholder="" value="<% if (!user.maxnodes) { %>100<% } else { %><%=user.maxnodes%><% } %>">
                        max number of nodes
                    </label>
                    <br>

                    Visualize in the graph
                    <label for="hashnodes1" class="pure-radio">
                        <input id="hashnodes1" type="radio" name="hashnodes" value="0" <% if (user.hashnodes=='0') { %> checked <% } %>>
                        prioritize #hashtags, if none - words
                    </label>

                    <label for="hashnodes2" class="pure-radio">
                        <input id="hashnodes2" type="radio" name="hashnodes" value="1" <% if (user.hashnodes=='1') { %> checked <% } %>>
                        both #hashtags and words
                    </label>

                    <label for="hashnodes3" class="pure-radio">
                        <input id="hashnodes3" type="radio" name="hashnodes" value="2" <% if (user.hashnodes=='2') { %> checked <% } %>>
                        only #hashtags, ignore words
                    </label>

                    <br>

                    #Hashtags will
                    <label for="morphemes1" class="pure-radio">
                        <input id="morphemes1" type="radio" name="morphemes" value="0" <% if (user.morphemes=='0') { %> checked <% } %>>
                        stay as they are
                    </label>

                    <label for="morphemes2" class="pure-radio">
                        <input id="morphemes2" type="radio" name="morphemes" value="1" <% if (user.morphemes=='1') { %> checked <% } %>>
                        be lemmatized (#bits -> #bit)
                    </label>
                    <br>

                    <button type='submit' class="pure-button pure-button-primary">save settings</button>

                </form>


            </div>
        </div>

    </div>
</div>

<script src="/javascripts/ui.js"></script>



<% include statsbelow %>

</body>
</html>