<% if (locals.user) { %>
<div id='submenu'>
   <a href='/api/user/nodes' target='_blank'>json</a> | <a href='/leap'>leap</a> | <a href='http://github.com/noduslabs/infranodus' target='_blank'>git</a>
</div>
<% } else { %>
<div id='submenu'>
    <a href='http://github.com/noduslabs/infranodus' target="_blank">git</a>
</div>
<% } %>
