@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'IstokWeb-Bold';
    src: url('../fonts/IstokWeb-Bold.eot');
    src: url('../fonts/IstokWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IstokWeb-Bold.woff') format('woff'),
    url('../fonts/IstokWeb-Bold.ttf') format('truetype'),
    url('../fonts/IstokWeb-Bold.svg#IstokWeb-Bold') format('svg');
}

@font-face {
    font-family: 'IstokWeb-Regular';
    src: url('../fonts/IstokWeb-Regular.eot');
    src: url('../fonts/IstokWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IstokWeb-Regular.woff') format('woff'),
    url('../fonts/IstokWeb-Regular.ttf') format('truetype'),
    url('../fonts/IstokWeb-Regular.svg#IstokWeb-Regular') format('svg');
}



/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
    font: 16px 'IstokWeb-Bold',sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);

}
.wrap{
	margin-left: auto;
	margin-right: auto;
	min-width: 600px;
	position: relative;
}
h1{
	font-size: 3em;

}
h2{
    font-size: 2em;
}
p{
	font-size: 1.5em;
}

@media (max-width: 48em) {


    p {
        font-size:1.3em!important;
    }

    .videoframe {
        display: none;
    }
    .videoclick {
        display: block!important;
    }

    .intro {

        padding-bottom:10%;

    }

}

.videoclick {
    display: none;
}

.videoframe {
    margin-top: 20px;
}

.caption {
    font-size: 1.2em!important;
}






.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}


.ontop {
    z-index:100!important;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 0;
    position:absolute!important;
}

.video {
   position: relative;
}

.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}

#content-box{
    position: fixed;
    width: 100%;
    height: 60px;
    overflow: scroll;
    top:0;
    left:0;
    z-index: 70;
    padding: 0;
    margin:0;
}


#menu{
	position:absolute;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width:640px;
	padding: 0;
	margin:0;

}

.submenu {
    position: relative!important;
    margin-top: 20px!important;
    width: 100%!important;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
}

.submenu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.submenu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
.submenu li a{
    text-decoration:none;
    color: #000;
}
.submenu li.active a:hover{
    color: #000;
}
.submenu li:hover{
    background: rgba(255,255,255, 0.8);
}
.submenu li a,
.submenu li.active a{
    padding: 9px 18px;
    display:block;
}
.submenu li.active a{
    color: #fff;
}

.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }


 /* From InfraNodus */

.intrograph {
    font: 20px 'IstokWeb-Bold',sans-serif;
    color: #000;
    max-width: 95%;

}

.intrograph a {
    font: 18px 'IstokWeb-Bold',sans-serif;
    color: #000;
    max-width: 95%;
    text-decoration: none;

}


.intrograph a:hover {
    font: 18px 'IstokWeb-Bold',sans-serif;
    color: #0089E0;
    max-width: 95%;
    text-decoration: underline;
}


.graphshowcase{
    width: 240px;
    height: 290px;
    display: inline-block;
    background-color: white;
    margin: 20px 20px 10px 0px;
}

.graphwindow {
    width: 240px;
    height: 260px;
    border: solid 1px #d9d9de;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    text-align: center;

}

.graphwindow img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

/*handles the vertical centering*/
.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.embed {
    position: absolute; top:10%; left:0; width: 100vw; height: 60%; overflow: scroll;
}

.overlay {
  background-color: #e9e9e6;
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding-top: 20px;
  height: 25%;
  padding-bottom: 20px;
  margin-left:auto!important;
  margin-right: auto!important;
  display: block!important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#section {
    height:100vh!important;
}




