

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    position: relative;
    padding-left: 0;
}
#layout.active {
    position: relative;
    left: 150px;
}
#layout.active #menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link {
    left: 150px;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/


#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 5;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    #menu .menu-item-small {
        font-size: 80%;
    }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 8px; /* change this value to increase/decrease button size */
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
    z-index: 10;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }



#controls {
    top: 40px;
}

#graph-link {
    position: absolute;
    display: inline; /* show this only on small screens */
    top: 0;
    right: 0; /* "#menu width" */
    background: none;
    font-size: 8px; /* change this value to increase/decrease button size */
    width: 2em;
    height: auto;
    float: right;
    padding: 3.3em 1.6em;
    z-index: 10;
    background-image: url('../images/close.png');
    background-repeat:no-repeat;
    background-position:center;
    pointer-events: auto!important;
}

#graph-link:hover {
    background: none;
    background-image: url('../images/close.png');
    background-repeat:no-repeat;
    background-position:center;
}

#windowdown-link {
    position: absolute;
    display: inline; /* show this only on small screens */
    top: 0;
    right: 35px; /* "#menu width" */
    background: none;
    font-size: 8px; /* change this value to increase/decrease button size */
    width: 2em;
    height: auto;
    float: right;
    padding: 3.3em 1.6em;
    z-index: 10;
    background-image: url('../images/closewindow.png');
    background-repeat:no-repeat;
    background-position:center;
    pointer-events: auto!important;
}

#deletecontext {
    position: absolute;
    display: inline; /* show this only on small screens */
    bottom: 0;
    right: 70px; /* "#menu width" */
    font-size: 8px; /* change this value to increase/decrease button size */
    width: 2em;
    height: auto;
    float: right;
    padding: 3.3em 1.6em;
    z-index: 9;
}


#deletebutton {
    background: url('../images/trash.png');
    background-repeat:no-repeat;
    background-position:center;
    border: 0;
    display: inline-block;
    height: 23px;
    width: 23px;
    text-indent:-9999px;
    line-height: 0px;
    font-size: 0px;
    position: relative;
    top: -5px;
}
#deletecontextbutton {
    background: url('../images/trash.png');
    background-repeat:no-repeat;
    background-position:center;
    border: 0;
    display: block;
    height: 23px;
    width: 23px;
    text-indent:-9999px;
    line-height: 0px;
    font-size: 0px;
}


#privacy-link {
    background: url('../images/share.png');
    background-repeat:no-repeat;
    background-position:center;
    border: 0;
    position: absolute;
    display: inline; /* show this only on small screens */
    bottom: 10px;
    right: 35px; /* "#menu width" */
    font-size: 8px; /* change this value to increase/decrease button size */
    width: 2em;
    height: auto;
    float: right;
    padding: 3.3em 1.6em;
    z-index: 10;
}

#collaborate-link {
    background: url('../images/group.png');
    background-repeat:no-repeat;
    background-position:center;
    border: 0;
    position: absolute;
    display: inline; /* show this only on small screens */
    bottom: 10px;
    right: 0px; /* "#menu width" */
    font-size: 8px; /* change this value to increase/decrease button size */
    width: 2em;
    height: auto;
    float: right;
    padding: 3.3em 1.6em;
    z-index: 10;
}

.is-public {
    background: url('../images/share-green.png')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
}

.is-collab {
    background: url('../images/group-green.png')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
}

#chat-link {


    margin-top: 0px;
    background: none;
    position: fixed;
    display: block;
    top: 0;
    right: 0; /* "#menu width" */
    font-size: 8px; /* change this value to increase/decrease button size */
    width: 2em;
    height: auto;
    padding: 2.6em 2.6em;
    z-index: 11;
    background-image: url('../images/chat.png');
    background-repeat:no-repeat;
    background-position:center;
}

.chat-highlight {

    background: rgba(31,141,214,1)!important;
    background-image: url('../images/chatwhite.png')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;

}

.chat-highlight:hover {

    background: rgba(0,0,0,0.7)!important;
    background-image: url('../images/chatwhite.png')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;

}

#chat-link:hover {
    background: rgba(0,0,0,0.7);
    background-image: url('../images/chatwhite.png');
    background-repeat:no-repeat;
    background-position:center;
}

#microphone-link {
    display: none;
    opacity: 0.5;
    position: fixed;
    top: 240px;
    font-size: 8px; /* change this value to increase/decrease button size */
    width: 2em;
    height: 25px;
    right: 0; /* "#menu width" */
    font-size: 8px; /* change this value to increase/decrease button size */
    /* width: 2em;
     height: auto;*/
    padding: 0em 2.3em;
    z-index: 10;
    background-image: url('../images/microphone.png');
    background-repeat:no-repeat;
    background-position:center;

}

.microphone-on {
    opacity: 1!important;
    background-image: url('../images/microphone-blue.png')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
}


#graph-tools {
    position: fixed;
    display: none;
    top: 168px;
    text-align: right;
    right: -2px; /* "#menu width" */
    height: 80px;
    font-size: 8px; /* change this value to increase/decrease button size */
   /* width: 2em;
    height: auto;*/
    padding-top: 0;
    padding-right: 2.3em;
    z-index: 10;
}

#graph-reload {
    position: fixed;
    top: 0px;
    text-align: right;
    right: -2px; /* "#menu width" */
    font-size: 8px; /* change this value to increase/decrease button size */
    /* width: 2em;
     height: auto;*/
    padding: 0 2.3em;
    z-index: 10;
    margin-top: 6em;
}





/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 480em) {

    .content {
        padding-left: 2em;
        padding-right: 2em;
    }


    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }




}


@media (min-width: 48em) {


    #graph-tools {
        display: block;
    }
    #graph-container {
        /*left: 150px;*/
    }


}

@media (max-width: 460px) {



    #chat-link {
        margin-top: 0px;
        background: none;
        position: fixed;
        display: block;
        top: 0;
        right: 0; /* "#menu width" */
        font-size: 8px; /* change this value to increase/decrease button size */
        width: 2em;
        height: auto;
        padding: 2.6em 2.6em;
        z-index: 11;
        background-image: url('../images/close.png');
        background-repeat:no-repeat;
        background-position:center;
    }

    #chat-link:hover {
        background: rgba(0,0,0,0.1);
        background-image: url('../images/close.png');
        background-repeat:no-repeat;
        background-position:center;
    }

    #graph-link {
        display:none;
    }

    #windowdown-link {
        right: 0;

    }

    #entryform {
        max-width: 261px;
    }

    textarea {
        max-height: 80px!important;
    }



}

