.tooltipster-noir {
	border-radius: 4px;
	border: 2px solid #2c2c2c;
	background: #fff;
	color: #2c2c2c;
}
.tooltipster-noir .tooltipster-content {
	font-family: 'IstokWeb-Bold','Helvetica', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 16px;
	padding: 8px 10px;
}